/* TODO */
body, html {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}
.background {
    height: 100vh;
    min-width:800px;
    min-height: 800px;
    text-align: center;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.welcomeBackground {
    background-image: url('img/img_background_05.jpg');
    background-color: rgb(252, 223, 161);
}

.signupBackground {
    background-image: url('img/yellow_backgrounds_cones.jpg');
    background-color: rgb(252, 223, 161);
}
.signinBackground {
    background-image: url('img/img_background_06.jpg');
    background-color: rgb(252, 223, 161);
}

#welcomeHeader {
    color: rgb(252, 223, 161);
}

#welcomeHeader p {
    font-size: 2em;
    text-shadow: 1px 1px 3px #BA3A27;
}

#welcomeHeader h1 {
    font-size: 4em;
    text-shadow: 4px 4px 12px #BA3A27;
}


input {
    box-shadow: 0px 0px 4px gray;
}

select {
    box-shadow: 0px 0px 4px gray;
}

input[type=checkbox] {
    box-shadow: none;
}


button {
    box-shadow: 2px 2px 4px gray;
}

.bg-custom {
    background-color: #4C4E53;
}


/******************
Split screen styles
******************/
/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;

  top: 0px;
  margin-top: 40px;
  overflow-x: hidden;
}

.modal-background {
    z-index: -3;
}


/* Control the left side */
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}

/* If you want the content centered horizontally and vertically */
.centered-all {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-vertically {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);

}

.img-container img {
    border-radius: 20%;
}

label.col-sm-2.right-label {
        text-align: right;
        margin-right: 20px;
}

.user-inpput, .password-input, .email-input {
    width: 300px;
}

.submit-button {
    float: left;
}


button {
    cursor: pointer;
}

table .reference_num {
    color: gray;
    font-style: italic;
}


select option { color: black; }
select option:first-child { color: grey; }
select.empty { color: grey; }
/* Hidden placeholder */





.form-control::-webkit-input-placeholder {
  color: #4C4E53;
}
.form-control {
    color: #4C4E53 !important;
}


.control-label{
    text-align: right; !important
}

div.form-inline label.col-sm-4{
    justify-content: flex-end;
}

#taperForm button, #journalModal button, #home button {
    padding: 5px;
}

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
    text-align:left;
}
