{% extends "layout.html" %}

{% block main %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container py-5 h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12">
            <h1 class="font-weight-light">Taper Journey</h1>
            <p class="lead">Track your Taper Journy</p>
        </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="container py-5">
</div>
</section>

{% endblock %}
