{% extends "layout.html" %}

{% block main %}
<div  class="modal" id="trackDrugsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header container" style="z-index:30">
                <div class="header"><i id="header-icon"  class="far fa-calendar-alt icon-btn"></i><input class="shadow-none" id="myDatepicker"></div>
                <button id="journalButton"  class="shadow-none"  data-toggle="modal" data-target="#journalModal" data-backdrop="static" keyboard=false>Journal</button>
            </div>
            <div class="modal-body">
                <div id = "noDrugsTrackedPlaceHolder">
                    <p>You are currently not tracking any medictions. Click on the add button to start</p>
                </div>
                <div id= "drugEntry">
                    <table id="summaryTable" style="width: 50%" data-toggle="popover"
                        data-animation="true"  data-content="Specify dosages in mg. If you remove a medicine, your previous entries won't be lost!"
                        data-trigger="hover" data-placement="right" disabled>
                        <thead><tr><th>Medication</th><th>Dose</th></tr></thead>
                        <tbody></tbody>
                    </table>
                    <br>
                    <div class = "" data-toggle="popover"
                        data-animation="true"  data-content="Add medications. Soon you will be able to add customized medicatins and substances."
                        data-trigger="hover" data-placement="left" disabled>
                        <button class="shadow-none" type="button" id="manageDrugs" style = "padding: 0px 20px"
                        data-toggle="collapse" data-target="#drugOptions">Add</button>
                    </div>

                    <div class="collapse" id="drugOptions">
                        <hr>
                        <div class="form-group inline-form text-center drugOptionCheckboxes" ></div>
                        <button class="shadow-none" onclick = "updateDrugOptions()">Confirm</button>
                    </div>
                    <hr>
                    <div id="sideEffectOptions" class="form-group text-center drug_data" >
                        <h6>Side Effects</h6>
                        {% for side_effect in page_data.side_effect_options %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="side_effect" id=  {{ "option" +  side_effect }} value= {{ side_effect }}>
                            <label class="form-check-label" for={{ "option" + side_effect }}>{{ side_effect }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="form-group text-center" data-toggle="popover"
                        data-animation="true"  data-content="Rate your mood. Where 1 is very poor and 10 is excellent"
                        data-trigger="hover" data-placement="bottom" disabled>
                        <h6 for="formControlRange" id="moodValue">Overall mood </h6>
                        <input style="widht:100%" type="range" min ="1" max="10" step="1" class="form-control-range" name="mood" id="mood">
                    </div>
                </div>


            </div>
            <div class="modal-footer">

                <div class = "btn-group pull-left">
                    <button class="shadow-none" type="button"  id="submitAll"
                    data-dismiss="modal" aria-label="Save">Update journey</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="modal" id="journalModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div  style="z-index:30"><div class="modal-header"  id="journal_modal-title"></div></div>
            <div class="modal-body">
                <div>
                    <div onclick="saveJournal()" class="iconLink pull-right" style="display: flex; align-items:center; font-size: 0.8rem">
                        <i class="far fa-save"></i>
                        <span style="margin-left: 5px">Save</span>
                    </div>
                    <div onclick="deleteJournal()" class="iconLink pull-right" style="display: flex; align-items:center; font-size: 0.8rem; margin-left: 20px">
                        <i class="far fa-trash-alt"></i>
                        <span style="margin-left: 5px">Delete</span>
                    </div>
                </div>
                <textarea class="form-control" id="journal" value="" name="journal" style="height:50vh" value="" autofocus></textarea>
            </div>
            <div class="modal-footer container">
                <div class = "btn-group pull-left" data-toggle="popover"
                        data-animation="true"  data-content="Changes will are not saved atoamatically. Click here to discard the changes"
                        data-trigger="hover" data-placement="bottom" disabled>
                    <button class="shadow-none" type="button"  id="journalDiscard"
                    data-dismiss="modal" aria-label="Close">Discard changes</button>
                </div>
                <div class = "btn-group pull-left">
                    <button class="shadow-none" type="button"
                    data-dismiss="modal" aria-label="Close" id="journalSaveExit">Save and exit</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="split left">
    <div style="height:100vh" class="img-container centered-all">
        <img  src='../static/img/img_splitscreen_01.jpg' style="height:70%; margin: 50px">
    </div>
</div>

<div class="split right" id="latestData">
    <div class="wrapper">
        <h3 style="margin-bottom: 20px" class="font-weight-light" >Journey Status</h3>
        <h6 class="push-right" style="font-style:italic; margin-left: 60px">Latest update:</h6>
        <div id="borderContainer">
            <div class="container">
                <div><i style = "margin-right: 10px" class="far fa-calendar-alt"></i><input  id="latestDate"  autocomplete="off"></div>
                <div id="journeyStatusMood" style="font-style:italic">Mood: <span id="mood2">{{page_data.mood}}</span>/10</div>
                <i class="far fa-edit icon-btn"  id="showDrugdata" data-toggle="modal" data-target="#trackDrugsModal"></i>
                <!--  -->
            </div>
            <div class="containter">
                <div id="journeyStatusSideEffects" align=center style="margin-bottom: 10px" ><em style="margin-right: 10px">Side-effects:</em><span id="side_effects2">{{ page_data.side_effects | replace(",", ", ") }}</span></div>
            </div>

            <table id="latestSummaryTable" class="table table-hover">
                <thead>
                    <tr>
                        <th >Medication</th>
                        <th class="text-right">Dosage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in page_data.drugInfo %}
                    <tr onMouseOver="this.style.backgroundColor='rgba(242, 95,105, 0.4)'"
                        onMouseOut="this.style.backgroundColor='transparent'" >
                        <td>{{ row.drug }} </th>
                        <td align="right">{{ row.dose }} mg</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if page_data.journal != "" %}
        <div id = "journalContainer" style="padding-right:20px">
            <h4 class="font-weight-light">Journal <sup style="font-size: 0.6em; font-weight:400; text-decoration: underline">{{ page_data.journal_date }}</sup></h4>
        </div>
        <div class="text-just" style="padding-right: 30px; margin-bottom: 150px">
            <p id="journal_b" class="no-wrap">{{ page_data.journal }}</p>
        </div>

        {% endif %}
    </div>
</div>

<div class="split right" id="newUser" style="padding-top:80px">
    <div class="wrapper" >
        <div class="container">
            <h3 style="margin-bottom: 20px" class="font-weight-light" >Journey Status</h3>
            <i style="font-size: 2rem" class="far fa-edit icon-btn"  id="showDrugdata" data-toggle="modal" data-target="#trackDrugsModal"></i>
        </div>
        <div id="borderContainer" style="font-size: 1.3rem">
            Welcome! To start tracking your medication / mood / side-effects or to write a journal entry, click on the edit icon above to the right.
        </div>
        <div class="container" >

        </div>

    </div>
</div>


</div>

<!-- Page Content -->
<section class="container py-5">
</div>
</section>


<script language="javascript" type="text/javascript">

    $(document).ready(function() {

        // console.log("{{page_data}}");
        // show the appliccable dashboard / home page based on a new user or user that has not logged any data yet
        // vs a user who has already used the app to track data
        if("{{page_data.date}}" === '') {
            $('#latestData').hide();
            $('#noDrugsTrackedPlaceHolder').show();
            $('#newUser').show();
        } else {
            $('#latestData').show();
            $('#noDrugsTrackedPlaceHolder').hide();
            $("#newUser").hide();
        }

        // toggle if mood info must be shown or not
        if("{{page_data.mood}}" === '' || "{{page_data.mood}}" === 'NULL') {
            $('#journeyStatusMood').hide();
        } else {
            $('#journeyStatusMood').show();
        }

        // toggle if side-effects info must be shown or not
        if("{{page_data.side_effects}}" === '' || "{{page_data.side_effects}}" === 'NULL') {
            $('#journeyStatusSideEffects').hide();
        } else {
            $('#journeyStatusSideEffects').show();
        }


        var today = new Date();
        $('#myDatepicker').datepicker({ dateFormat: 'DD, dd M yy', endDate: "today", maxDate: today}).val();
        $('#myDatepicker').datepicker('setDate', today);
        $('.fa-calendar-alt').click(function() {
            $("#myDatepicker").focus();
        });

        $("#latestDate").val("{{ page_data.date }}")
        getsetState($("#myDatepicker").val());

        // TODO: this needs to be moved into the html
        $('button').addClass("shadow-none")

        // populate home template with the data for the user
        $("#myDatepicker").change(function(){
            getsetState($("#myDatepicker").val());
        })


        $("#mood").on("input", function() {
            $("#moodValue").addClass("moodChosen");
            $("#moodValue").html("Overall mood: " + ($("#mood").val()));
        })

        // hide the tracking modal when the journal entry button is clicked
        $("#journalButton").on("click",  function(){
            $('#trackDrugsModal').modal('hide');
        });

        // hide the tracknig modal when the journal modal is shown
        $('#journalModal').on('show.bs.modal', function () {
            // Load up a new modal...
            $('#trackDrugsModal').modal('hide')
        })


        // revert back to most recently saved journal
        $(document).on("click", "#journalDiscard",  function() {
            $.post("/getjournal",  {date: $("#myDatepicker").val()},function(journal){
            }).done(function(journal){
                $("#journalModal textarea").val(journal)
                $('#trackDrugsModal').modal('show');
            }).fail(function(xhr, status, error) {
                alert("error")
            });
        });

        // completely delete the journal entry that is currently viewed
        $(document).on("click", "#journalDelete",  function() {
            $("#journalModal textarea").val("")
            $.post("/postjournal",  {date: $("#myDatepicker").val(), journal: ""},function(){
            }).done(function(){
                $('#trackDrugsModal').modal('show');
            }).fail(function(xhr, status, error) {
                alert("error")
            });
        });

        // save the journal entry to the back-end and show the tracking modal again
        $(document).on("click", "#journalSaveExit",  function(){
            $.post('/postjournal', {date: $("#myDatepicker").val(), journal: $("#journalModal textarea").val()}, function() {
            }).done(function(){
                $('#trackDrugsModal').modal('show');
            }).fail(function(xhr, status, error) {
                alert("error")
            });
        });

        // show the journal modal and populate it with the entry for the selected date.
        $(document).on("click", "#trackDrugsModal #journalButton",  function(){
            $.post('/getjournal', {date: $("#myDatepicker").val()}, function(journal) {
            }).done(function(journal){
                $("#journalMoadal textarea").val(journal);
                $('#journalModal').modal('show');
            }).fail(function(xhr, status, error) {
                alert("error")
            });
        });

        // hide the journal modal when the tracking modal is shown
        $('#trackDrugsModal').on('show.bs.modal', function () {
            // Load up a new modal...
            $('#journalModal').modal('hide')
        })

        $(document).on("click", "#submitAll", function(event) {
            event.preventDefault()

            // get all the data
            let data = getUserData();

            // check validation
            let inputValid = validate(data);

            console.log(data);
            // toggleJourneySatusHTML(data.mood, data.side_effects, data.drugs);

            if (inputValid) {
                // post the data to the backend to either updata or insert into database
                $.post("/posttaperdata", data, function(data){
                }).done(function(){
                    $(location).attr('href',"/");
                }).fail(function(xhr, status, error) {
                    alert("error")
                });
            } else {
                $('#trackDrugsModal').modal('show');
            }
        });

        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    });

    function getsetState(date) {
        $('#trackDrugsModal tbody').html(" ")
        $.post("/gettaperdata",{date: date}, function(data) {
        }).done(function(data){
            updateFields(data)
        }).fail(function(xhr, status, error) {alert(error)});
    }

    function updateFields(data) {

        $.post("/getdrugoptionslist", function(options_data){

        }).done(function(options_data){
            $(".drugOptionCheckboxes").children().remove();
            buildDrugOptionsList(options_data.options)
            if (data.drugs) {
                $('#summaryTable').html(getDrugDetailsHTML(data.drugs.split(","), data.doses.split(",")))
            } else if (data.latest_drugs) {
                drugs_arr = data.latest_drugs.split(",")
                $('#summaryTable').html(getDrugDetailsHTML(drugs_arr, Array(drugs_arr.length).join(".").split(".")))
            } else {

            }
            $(".drugName").each(function(){
                $("#option" + $(this).html()).parent().remove();
            });
        }).fail(function(xhr, status, error) {alert(error)});

        let side_effects_array = []
        if (data.side_effects) {
            side_effects_array = data.side_effects.split(",")
        }

        $("#trackDrugsModal .modal-header #myDatepicker").val(data.date)
        $("#journal_modal-title").html(data.date)
        $("#drug").val(data.drugs);
        $("#dosage").val(data.dose);;
        $("#mood2").val("test") // why is this not being  called?
        $("#journal").val(data.journal);

        $("#sideEffectOptions input[type='checkbox']").prop("checked", false)
        if (data.side_effects) {
            sideEffectsSelected = data.side_effects.split(",")
        } else {
            sideEffectsSelected = [];
        }
        for (let i=0; i<sideEffectsSelected.length; i++) {
            document.getElementById("option" + sideEffectsSelected[i]).checked = true;
        }
        $(function () {
            $('[data-toggle="popover"]').popover()
        });

        if (data.mood > 0) {
            $("#moodValue").addClass("moodChosen");
            $("#mood").val(data.mood);
            $("#moodValue").html("Overall mood: " + ($("#mood").val()));
        }
    }

    function getDrugDetailsHTML(drugs, doses) {

        const drugs_array = drugs;
        const doses_array = doses;
        const drugInputAttr = " type='number' class='form-control form-control-sm dose'  name='dose' style='width:80px' placeholder='' ";
        const drugInputPopover = " data-toggle='popover' data-animation='true' data-content='Enter your daily dosage in milligrams' data-trigger='hover' data-placement='right' ";
        const removeButton = " <td><button class='shadow-none' style='padding: 0px 10px' onclick='removeDrug(this)'>X</td> "
        let drugsInnerHTML = "";
        for (let i = 0; i < drugs_array.length; i++) {
            const drugInput = "<td><input name='trackedMedDosage' id='dose" + drugs_array[i] + "' value ='" + doses_array[i] + "' " + drugInputAttr + drugInputPopover +  "></td>";
            drugsInnerHTML += "<tr><td class='drugName' id=" + drugs_array[i] + ">" + drugs_array[i] + "</td>" + drugInput + removeButton + "</tr>";
        }
        return "<thead><tr><th>Medicine</th><th>Dose</th></tr></thead><tbody> " + drugsInnerHTML + " </tbody>";
    }


    function getUserData() {
        // Get some values from elements on the page:
        var date = $("#myDatepicker").val();
        var drugs = [];
        var doses = [];
        $(".drugName").each(function(){
            drugs.push($(this).html())
        })
        $("[name='trackedMedDosage']").each(function(){
            doses.push($(this).val())
        })
        drugs = drugs.join();
        doses = doses.join();

        // TODO : only save the mood if the user has set it i.e. check if the class is applied.
        var mood = Math.round($("[name='mood']").val())
        var journal = $("[name='journal']").val()
        var side_effects_array =[]
        $("input[name='side_effect']:checkbox:checked").each(function(){
            side_effects_array.push($(this).val());
        });
        var side_effects = side_effects_array.join()
        var data = { date: date, drugs: drugs, doses: doses,  mood: mood, side_effects: side_effects, journal:journal}
        return data;
    }

    // TODO --> check that all required inputs have been filled out. This includes mood and dosages.
    function validate(dataObject) {
        // check that dosages are filled in and not negative
        let valid = false;

        // if no drugs are being tracked, both the drugs string and the doses string will be empty
        if (dataObject.drugs === dataObject.doses) {
            return true;
        }
        console.log(dataObject);
        let drugs = dataObject.drugs.split(',');
        let doses = dataObject.doses.split(',');

        if (drugs.length !== doses.length) {
            alert("Dosages must be specified and greater than zero. If you are not taking a given medication any longer, remove it from your list by clicking on the 'X' button next to it.");
            console.log('x');
            return false;
        } else {
            for(let i = 0; i <= doses.length; i++) {
                if (doses[i] === '') {
                    alert("Dosages must be specified and greater than zero. If you are not taking a given medication any longer, remove it from your list by clicking on the 'X' button next to it.");
                    console.log('y');
                    return false;
                } else if (parseInt(doses[i]) <= 0) {
                    console.log('z');
                    alert("Dosages must be specified and greater than zero. If you are not taking a given medication any longer, remove it from your list by clicking on the 'X' button next to it.");
                    return false;
                }
            }
        }

        // check that a mood for the day has been selected
        if (!$("#moodValue").hasClass("moodChosen")) {
            alert("You have not specified your overall mood for the day. Use the slider to set it on a scale of 1 (horrible) to 10 (excellent). Use the Journal feuture to go into more detail regarding your mood if need be!");
            return false;
        }
        return true;
    }

    // re-render the list of drugs being tracked
    function updateDrugOptions () {
        $("input[name='drugOption']:checkbox:checked").each(function(){
            myID = $(this).attr("id").replace("option", "");
            if (!document.getElementById(myID)) {
                // add drugs to list
                const drugInputAttr = " type='number' class='form-control form-control-sm dose'  name='dose' style='width:80px' placeholder='' ";
                const drugInputPopover = " data-toggle='popover' data-animation='true' data-content='Enter your daily dosage in milligrams' data-trigger='hover' data-placement='right' ";
                const drugInput = "<td><input name='trackedMedDosage' id='dose" + myID + "' value ='" + "" + "' " + drugInputAttr + drugInputPopover +  "></td>";
                const removeButton = " <td><button class='shadow-none' style='padding: 0px 10px' onclick='removeDrug(this)'>X</td> "
                const drugsInnerHTML = "<tr><td class='drugName' id=" + myID + ">" + myID + "</td>" + drugInput + removeButton +"</tr>";
                $("#drugEntry tbody").append(drugsInnerHTML);
            }
            $(this).parent().remove()
        })
    }

    function removeDrug(el) {

        // remove a drug from the tracked drugs list
        drug =  $(el).parent().parent().children(".drugName").html()
        id = "option" + drug;
        $(el).parent().parent().remove();

        // add back to list of checkboxes
        inputHTML = "<input class='form-check-input' type='checkbox' name='drugOption' id ='" + id +"' value = '"+ drug + "' > ";
        labelHTML= " <label class='form-check-label' for = '" + id + "' >" + drug + "</label> ";
        checkboxHTML = "<div class='form-check form-check-inline'>" + inputHTML + labelHTML + " </div>";
        $(".drugOptionCheckboxes").append(checkboxHTML)
    }

    function buildDrugOptionsList(list) {
        for (let i = 0; i < list.length; i++) {
            id = "option" + list[i];
            drug= list[i];
            inputHTML = "<input class='form-check-input' type='checkbox' name='drugOption' id ='" + id +"' value = '"+ drug + "' > ";
            labelHTML= " <label class='form-check-label' for = '" + id + "' >" + drug + "</label> ";
            checkboxHTML = "<div class='form-check form-check-inline'>" + inputHTML + labelHTML + " </div>";
            $(".drugOptionCheckboxes").append(checkboxHTML)
        }
    }

    // delete a journal entry in the database by setting its value to "" and update the journal textarea to show nothing ("")
    function deleteJournal() {
        $.post("/postjournal",  {date: $("#myDatepicker").val(), journal: ""},function(){
        }).done(function(){
            $("#journalModal textarea").val("")
        }).fail(function(xhr, status, error) {
            alert("error")
        });
    }

    // save the current journal entry state to the backend
    function saveJournal() {
        $.post('/postjournal', {date: $("#myDatepicker").val(), journal: $("#journalModal textarea").val()}, function() {
        }).done(function(){
        }).fail(function(xhr, status, error) {
            alert("error")
        });
    }

    function toggleJourneySatusHTML(mood, side_effects, drugs) {

        // toggle show journey status page mood if it is set
        if(mood === 'NULL' || mood  === '') {
            $('#journeyStatusMood').hide();
        } else {
            $('#journeyStatusMood').show();
        }
        console.log(side_effects);
        console.log(drugs);
        // toggle show journey status page side effects if they are listed
        if(side_effects  === '' || side_effects === 'NULL' ) {
            $('#journeyStatusSideEffects').hide();
        } else {
            $('#journeyStatusSideEffects').show();
        }

        // toggle show journey status page medication table
        if (drugs !== '') {
            $('#latestSummaryTable').show();
        } else {
            $('#latestSummaryTable').hide();
        }
    }



</script>


{% endblock %}
