<!DOCTYPE html>

<html>

    <head>

        <meta name="viewport" content="initial-scale=1, width=device-width">


        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link href="/static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />


        <title>Taper Journey</title>

    </head>

    <body>

        <!-- http://getbootstrap.com/docs/4.1/components/navbar/ -->
        <nav class="navbar bg-custom navbar-expand-sm navbar-dark">
            <a class="navbar-brand mb-1 h1" href="/">TAPER _ journey</a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" type="button" data-target="#navbarNav" data-toggle="collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/taper">Taper</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/history">History</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                     <li class="nav-item" style="float:right">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- http://getbootstrap.com/docs/4.1/layout/overview/#containers -->
        <main> <!--class="container-fluid p-5"-->
            {% block main %}{% endblock %}
        </main>

    </body>




    <script>
    function execute_test(){
        console.log("javascript running")
    }
    var today = new Date();
    $('#myDatepicker').datepicker({ dateFormat: 'DD, dd M yy', endDate: "today", maxDate: today}).val();
    $('#myDatepicker').datepicker('setDate', new Date());

    </script>

    <script>
    function execute_test(){
        console.log("javascript running")
    }
    $(document).ready(function() {

        console.log("connected")

        $.post("/gettaperdata", {date: $("#myDatepicker").val()}, function(data) {
        }).done(function(data){
           updateFields(data)
        }).fail(function(xhr, status, error) {
            alert(error)
        });

        $("#myDatepicker").change(function(){
            $.post("/gettaperdata",{date: $("#myDatepicker").val()}, function(data) {
            }).done(function(data){
                updateFields(data)
            }).fail(function(xhr, status, error) {
                alert(error)
            });
        })

        $('#submitAll').on("click", function(event) {

            event.preventDefault()
            // Get some values from elements on the page:
            var date = $("[name='date']").val()
            var drug = $("[name='drug']").val()
            var dose = $("[name='dose']").val()
            var mood = $("[name='mood']").val()
            var journal = $("[name='journal']").val()
            var side_effects_array =[]
            $("input:checkbox:checked").each(function(){
                side_effects_array.push($(this).val());
            });
            var side_effects = side_effects_array.join()
            var data = { date: date, drug: drug, dose: dose,  mood: mood, side_effects: side_effects, journal: journal}

            $.post("/tapercheck", data, function(data){
                $(location).attr('href',"/");
            }).done(function(){
                console.log("done")
            }).fail(function(xhr, status, error) {
                // error handling
                alert("error")
            });
        });

        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    });


    function updateFields(data) {
        let side_effects_array = data.side_effects.split(",")
        $('input:checkbox').removeAttr('checked');
        $("#drug").val(data.drug);
        $("#dosage").val(data.dose);
        $("textarea").html(data.journal);
        $("#modal-title").html(data.date);
        $("#mood").val(data.mood);
        console.log("testing")
        for (let i=0; i<side_effects_array.length; i++) {
            console.log(side_effects_array)
            document.getElementsByName(side_effects_array[i])[0].checked = true;
            console.log("in loop")
        }
        console.log("testing")
    });

</script>
</html>
