{% extends "layoutSignupOrLogin.html" %}

{% block title %}
    Sign In
{% endblock %}

{% block main %}
    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="background signinBackground">
      <div class="d-flex h-100">
            <div class="m-auto centered-all">
                <form action="/signin" method="POST">
                    <div class="form-group form-row">
                        <input type="text" class="form-control  col-sm-12 username-input entryPointForm" id="username" autofocus name="username"
                            placeholder="Username">
                    </div>
                    <div class="form-group form-row">
                        <input type="password" class="form-control col-sm-12 password-input entryPointForm" id="password" autofocus name="password"
                            placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-secondary submit-button">Sign In</button>
                </form>
            </div>
        </div>
    </header>

{% endblock %}
