{% extends "layoutSignupOrLogin.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block main %}

    <!-- Full Page Image Header with Vertically Centered Content -->
    <header class="background signupBackground">

      <div class="d-flex h-100">
            <div class="m-auto centered-all">
                <form action="/signup" method="POST">
                    <div class="form-group form-row">
                        <input type="text" class="form-control  col-sm-12 username-input" id="username" autofocus name="username"
                            placeholder="Create a username">
                    </div>
                    <div class="form-group form-row">
                        <input type="email" class="form-control col-sm-12 email-input" id="email" autofocus name="email"
                            placeholder="Enter your email">
                    </div>
                    <div class="form-group form-row">
                        <input type="password" class="form-control col-sm-12 password-input" id="password" autofocus name="password"
                            placeholder="Password">
                    </div>
                    <div class="form-group form-row" align="center">
                        <input type="password" class="form-control col-sm-12 password-input" id="confrim_password" autofocus name="confirm_password"
                            placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-secondary submit-button">Sign Up</button>
                </form>
            </div>
        </div>

    </header>


    <script>

       function checkform() {
           if (this.yourName.value ==='') {
               alert("Please enter your name");
               return false;
           }
          if (this.gender.value === "Gender") {
               alert("Please specify your gender");
               return false;
           }
           let diet = document.querySelectorAll("input[name='diet'");
           radio_checked = false;
           for (i = 0; i < 5; i++) {
               if(diet[i].checked === true) {
                   radio_checked = true;
                   break;
               }
           }
           if (radio_checked === false) {
               alert("Please select what diet you follow");
               return false;
           }
       }

    </script>

{% endblock %}
