{% extends "layoutSignupOrLogin.html" %}

{% block main %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="background welcomeBackground">
  <div class="container py-5 h-100">
      <div class="row h-100 justify-content-center">
        <div class="col-12" id="welcomeHeader" style="color:rgb(252, 223, 161)">
            <h1>Taper Journey</h1>
            <p>Track your Taper Journey</p>
             <footer class="small text-center text-muted">
                Copyright C 2018-2019 Short Shift Production Pty. Ltd. All rights reservved | <a>Privacy</a> | <a>Terms</a>
        </footer>
        </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="container py-5">

</section>

{% endblock %}
